#create-keyword {
    .content {
        padding: 20px;

        .title {
            text-align: center
        }
        form {
            max-width: 300px;
            margin: 0 auto;
        }
    }
}
