#articles {
    .articles__content {
        padding: 20px;

        .articles__search-wrapper {
            position: relative;

            .articles__search-input {
                margin-bottom: 25px;
                max-width: 650px;
            }
            .articles__btn--create-new {
                position: absolute;
                top: 10px;
                right: 10px;
                padding: 0 25px;
            }
        }
        .articles__table--wrapper {
            overflow: auto;

            table {
                tr {
                    td {
                        color: #ccc;
                    }
                }
                tr.highlight {
                    td {
                        color: black;
                    }
                }
            }
            a {
                color: blue;
            }
        }
    }
}
