html {
    font-size: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f1;
}

a {
    color: inherit;
    text-decoration: none;
}

#left-aside {
    width: 280px;

    ul {
        list-style: none;
        padding: 0;

        li {
            a {
                padding: 10px 25px;
                display: block;
                box-sizing: border-box;

                &:hover {
                    background: #f1f1f1;
                }
                svg {
                    vertical-align: text-bottom;
                    margin-right: 15px;
                }
            }
        }
    }
}

.index-page__breadcrumb {
    margin: 30px 0;
    padding: 10px 20px;
}
