#login-page {
    max-width: 500px;
    margin: 75px auto;
    text-align: center;

    img {
        max-width: 200px;
        border-radius: 100px;
    }
    button[type="submit"] {
        padding: 5px 40px;
        width: 100%;
    }
    .show-modal {
        display: block;
        display: none;
        text-decoration: underline;
        color: cadetblue;
        margin-top: 30px;
    }
}

#modal-forgot-password {
    #modal-title {
        border-bottom: 1px solid #ccc;
        text-align: center;
    }
    #modal-content {
        width: 500px;
        padding: 10px 70px;
        box-sizing: border-box;

        .second-step {
            .tutorial {
                text-align: center;

                h2 {
                    margin-bottom: 0;
                }
                p {
                    font-size: 14px;
                }
            }
            .notes {
                margin-top: 25px;
                font-size: 14px;
            }
        }
        .third-step {
            text-align: center;

            svg {
                color: green;
                font-size: 96px;
            }
            h2 {
                color: green;
            }
        }
    }
    #modal-actions {
        border-top: 1px solid #ccc;
    }
}

#complete-new-password {
    max-width: 500px;
    margin: 75px auto;
    text-align: center;

    img {
        max-width: 200px;
        border-radius: 100px;
    }
    p {
        font-style: italic;
    }
    button[type="submit"] {
        padding: 5px 40px;
        width: 100%;
    }
}
